.cell {
    flex: 1;
}
.inline {
    display: inline;
}
.flexible {
    display: flex;
}
.flexible-center-equidistant-cells {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.flexible-center-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bottom-sidebar-menu-item {
    bottom: 0;
    position: absolute !important;
    width: 100%;
}
.app-body {
    
}