div#leftNavigationBar {
  height: 100%;
  position: relative;
  max-width: 210px;
  overflow-y: auto;
  justify-content: space-between;

  transition-property: max-width;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;

  .top {
    flex-grow: 1;
  }

  .logo img {
    display: inline;
  }
}

div#leftNavigationBar.collapsed {
  max-width: 90px;

  span {
    display: none;
  }
}
